*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: monospace;
    background-color: #111;
    color: beige;
}

.key {
    width: 70px;
    height: 70px;
    border: 1px solid beige;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
}

#timer {
    font-size: 2.5rem;
    font-weight: 500;
    position: absolute;
    top: 8%;
    left: 10%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid beige;
    padding: 30px;
    position: absolute;
    bottom: 10%; left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    border-radius: 25px;
}

.row {
    display: flex;
    gap: 10px;
}

#text-display {
    width: 80%;
    position: absolute;
    top: 18%; left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 40px;
}

span {
    color: rgb(0, 202, 0);
    border-right: 1px solid beige;
}

result {
    color: rgb(0, 185, 0);
}

.active {
    color: #111;
    background-color: chartreuse;
}